*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: sans-serif;
}
body{
     width: 100vw;
}
.container{
     width: 70vw;
     margin: 0 auto;
     border: 2px solid black;
     display: flex;
     flex-direction: column;
     padding: 10px;
     gap: 30px;
}
.contact-details{
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.contact{
     display: flex;
     flex-direction: column;
}
.contact h1{
     font-weight: bolder;
     font-size: 35px;
     text-transform: uppercase;
}
.contact h2{
     font-size: 24px;
     text-transform: uppercase;
     letter-spacing: 3px;
     color: #555555;

}
.social-links{
     display: flex;
     flex-direction: column;
     text-align: right;
}
.social-links a, label{
     color: black;
     text-decoration: none;
}
.education h2{
     border-bottom: 3px solid black;
     margin-bottom: 15px;
     width: 50%;
}
.education table{
     border: 2px solid black;
     border-collapse: collapse;
     width: 100%;
}
.education table tr,th,td{
     border: 2px solid black;
}
.education table th,td{
     padding: 10px 10px;
}
.sections {
     display: flex;
     justify-content: space-between;
}
.left-section{
     display: flex;
     flex-direction: column;
     gap: 15px;
     flex: 1;
}
.left-section h2{
     border-bottom: 3px solid black;
}
.left-section .skills{
     display: flex;
     justify-content: space-between;
     gap: 10px;
}
.skill-name{
     text-align: right;
     display: flex;
     flex-direction: column;
}
.skill{
     display: flex;
     flex-direction: column;
}
.right-section{
     flex: 1;
}